* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
.column {
  display: flex;
  width: 1209px;
  height: 958px;
  margin: 100px auto;
  border: 1px solid black;
}
.new-task {
  border-right: 1px solid #000000;
  padding: 40px;
}
.input-task {
  width: 419px;
  height: 32px;
  padding: 10px;
  border: 1px solid #bdbdbd;
}
.description {
  margin: 20px 0;
  font-weight: bold;
}
.description-text {
  width: 421px;
  height: 125px;
  border: 1px solid #000;
}
.date {
  display: flex;
  justify-content: space-between;
}
[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
}
.pick-date {
  border: 1px solid #000000;
  background-color: #fff;
  width: 203px;
  height: 31px;
  padding: 8px;
}
.select-piority {
  width: 192px;
  height: 30px;
  border: 1px solid #000000;
}
.todo-list {
  padding: 40px;
}
.title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.form-search {
  width: 550px;
  height: 33px;
  padding: 10px;
  border: 1px solid #bdbdbd;
}
.todo-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #000000;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.button {
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.button1 {
  background-color: #00bcd4;
  color: #ffffff;
  width: 93px;
  height: 27px;
  border-radius: 5px;
  margin-right: 20px;
}

.button2 {
  background-color: #d9534f;
  color: #ffffff;
  width: 79px;
  height: 28px;
  border-radius: 5px;
}
.title-todo {
  width: 503px;
  height: 31px;
  padding: 10px;
  border: 1px solid #bdbdbd;
}
.description-todo {
  width: 505px;
  height: 122px;
  border: 1px solid #000;
  padding: 10px;
}
.pick-date-todo {
  width: 242px;
  height: 30px;
  border: 1px solid #000000;
  padding: 10px;
}
.select-piority-todo {
  width: 230px;
  height: 30px;
  border: 1px solid #000000;
}
.btn {
  background-color: #4caf50;
  color: #ffffff;
  width: 100%;
  height: 31px;
  border: none;
  border-radius: 5px;
  margin: 40px 0;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.list-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #000000;
  margin: 20px 0;
}